@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wq6tlc');
  src:  url('../fonts/icomoon.eot?wq6tlc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wq6tlc') format('truetype'),
    url('../fonts/icomoon.woff?wq6tlc') format('woff'),
    url('../fonts/icomoon.svg?wq6tlc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_home:before {
  content: "\e901";
}
.icon-icon_business:before {
  content: "\e902";
}
.icon-icon_moreArrow:before {
  content: "\e900";
}
