@charset "UTF-8";
:root {
  --main_color: #0062FF;
  --blue_bg: #031A40;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul, ol {
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  background-color: #FEFEFF;
  line-height: 1.1;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  color: #000;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

/*----- для модалок ----*/
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*---------------------------*/
[class*=__container] {
  max-width: 108rem;
  margin: 0 auto;
  padding: 0 0.625rem;
}

@media screen and (max-width: 90rem) {
  [class*=__container] {
    max-width: 73.125rem;
    margin: 0 auto;
    padding: 0 0.625rem;
  }
}
/*---------------------------*/
.page {
  flex: 1 1 auto;
  position: relative;
}

/*--------------------------------------*/
.title__h2 {
  color: #000;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.75rem;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Buttons style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.main__button {
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 170%;
  padding: 0.75rem 3rem;
  border-radius: 1.875rem;
  background: var(--main_color);
}

.main__button:hover {
  background: #0055df;
}

.border__button {
  display: inline-block;
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.75rem 1.5rem;
  border: 0.125rem solid #ffffff;
  border-radius: 1.875rem;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

.border__button:hover {
  border: 0.125rem solid #0062FF;
  background: #0062FF;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Header style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.bg-head {
  background: var(--blue_bg);
  transition: all 0.3s ease 0s;
}

.mobile-menu {
  display: none;
}

.header {
  z-index: 5;
  padding: 1.25rem 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 5rem;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__desktop-menu {
  display: flex;
  align-items: center;
}

.header__desktop-menu .desktop-menu__list {
  display: flex;
  margin-right: 2rem;
}

.header__desktop-menu .desktop-menu__list .desktop-menu__link {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0 1.5rem;
  line-height: 1.5;
}

.header__desktop-menu .desktop-menu__list .desktop-menu__link a::after {
  display: block;
  content: "";
  top: 60%;
  height: 0.0375rem;
  width: 0%;
  left: 0;
  background-color: #fcfcfc;
  transition: 0.3s ease all 0.1s;
}

.header__desktop-menu .desktop-menu__list .desktop-menu__link a:hover::after {
  width: 100%;
}

.header__language {
  position: relative;
  margin-right: 2.5rem;
  cursor: pointer;
}
.header__language .head img {
  width: 1.5rem;
}
.header__language .toggle_list {
  position: absolute;
  margin-top: 0.625rem;
  transform: translateY(1.25rem);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease 0s;
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1294117647);
}
.header__language .toggle_list li {
  width: 1.5rem;
}
.header__language .toggle_list li:not(:last-child) {
  margin-bottom: 10px;
}

.toggle_list.lang_active {
  transform: translateY(0rem);
  opacity: 1;
  visibility: visible;
}

.header__search {
  position: relative;
  margin: 0 1.875rem;
  height: 1.625rem;
}
.header__search .search__link {
  width: 100%;
  height: 100%;
}
.header__search input {
  width: 0;
  padding: 0 2.625rem 0 0.9375rem;
  border: none;
  border-bottom: 0.125rem solid transparent;
  outline: none;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}
.header__search input[type=search] {
  color: #fff;
  height: 2.75rem;
}
.header__search input:focus {
  width: 17.75rem;
  background: #031A40;
  margin-right: 25px;
  z-index: 1;
  border-bottom: 0.125rem solid #fff;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------ main__section style ------------*/
.main__section {
  position: relative;
  min-height: 800px;
  display: flex;
}

.main__container {
  position: relative;
  z-index: 2;
  min-height: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.main__body {
  width: 100%;
  position: relative;
}

.main__status {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
}
.main__status .status__block .network {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
}
.main__status .status__block .status_function {
  display: flex;
  align-items: center;
  padding: 0.6875rem 1.6875rem;
  border-radius: 1.875rem;
  background: #002D76;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main__status .status__block .status_function .bulb__green {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #20AF7C;
  margin-left: 0.625rem;
}

.main__content {
  margin-top: 2.25rem;
}
.main__content h1 {
  color: #FFF;
  font-family: "Conthrax";
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.main__content p {
  color: #FFF;
  font-family: "Mulish";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 17.5rem;
  margin-bottom: 1.875rem;
}

.main__phones {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5rem;
  color: #fff;
  font-size: 1.125rem;
}
.main__phones .subscriber_dep {
  font-weight: 500;
}
.main__phones .subscriber_dep span {
  margin-left: 0.625rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
}
.main__phones .support_dep {
  font-weight: 500;
}
.main__phones .support_dep span {
  margin-left: 0.625rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
}

.main__advantages {
  display: flex;
  justify-content: center;
  transform: translateY(-5rem);
  z-index: 5;
}
.main__advantages .advantages__columns {
  display: flex;
  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0rem 0.25rem 1.5rem 0rem rgba(0, 0, 0, 0.05);
  padding: 2rem 2.625rem;
}
.main__advantages .col__advan {
  display: flex;
  align-items: center;
  margin: 0 3rem;
}
.main__advantages .col__advan img {
  max-width: 4rem;
  margin-right: 0.75rem;
}
.main__advantages .col__advan .text__advan {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*------------ section__servise ------------*/
.section__servise {
  margin-top: 5rem;
  padding-bottom: 3.125rem;
}

.servise__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;
}
.servise__cards .card__service {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.servise__cards .card__service:hover {
  cursor: pointer;
}
.servise__cards .card__service:hover .card__action {
  background: #0062FF;
}
.servise__cards .card__service:hover .card__action h3 {
  color: #fff;
}
.servise__cards .card__service:hover .card__action span {
  color: #fff;
}
.servise__cards .card__service:hover .card__action span .icon-icon_moreArrow::before {
  color: #fff;
}
.servise__cards .card__img {
  margin: 0 0 -0.375rem 0;
}
.servise__cards .card__action {
  padding: 0 2rem 0 2rem;
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  background: #fff;
  color: #000;
  box-shadow: 0rem 0.625rem 1.5rem 0rem rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.875rem;
}
.servise__cards .card__action h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #000;
  max-width: 18.125rem;
}
.servise__cards .card__action span {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 800;
  color: #0062FF;
}
.servise__cards .card__action span .icon-icon_moreArrow::before {
  content: "\e900";
  width: 1.25rem;
  color: #0062FF;
  margin-left: 0.625rem;
}

/*------------ section__payment ------------*/
.section__payment {
  background: #031A40;
  padding: 75px 0;
  margin: 50px 0;
}

.payment__body {
  display: flex;
  justify-content: center;
}

.payment__form-wrap {
  background: #FFFFFF url("../img/pay_form_bg.png") center right no-repeat !important;
  width: 100%;
  height: 100%;
  width: 100%;
  max-width: 956px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.04);
  padding: 96px 44px;
  overflow: hidden;
}

.pay__form {
  max-width: 420px;
  z-index: 2;
}
.pay__form .payment__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 35px;
}

.input__group {
  display: flex;
  flex-direction: column;
}
.input__group label {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}
.input__group input {
  border: none;
  border-radius: 24px;
  background: #F2F2F2;
  height: 58px;
  padding: 10px 20px;
}

.btn__group {
  display: flex;
  margin-top: 64px;
}
.btn__group .btn_submit {
  font-size: 14px;
  font-weight: 800;
  border-radius: 32px;
  background: #0062FF;
  color: #fff;
  border: none;
  padding: 14px 60px;
  max-width: 196px;
  cursor: pointer;
}
.btn__group .btn_submit:hover {
  background: #0b68ff;
}
.btn__group img {
  max-width: 73px;
  margin-left: 24px;
}

.form_bg {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}
.form_bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*------------ section__partners ------------*/
.section__partners {
  margin-bottom: 100px;
  margin-top: 100px;
}

.partners__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.partners__logo img {
  max-width: 190px;
  margin: 15px;
}

/*----------------------------------------------------------------------------------------*/
/*------------ Footer style --------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.footer {
  background: var(--blue_bg);
  width: 100%;
  padding: 4.0625rem 0 1.1875rem;
  color: #FFF;
}

.footer__body {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
}

.footer__col {
  margin: 0.9375rem;
}

.logo-footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer__col img {
  max-width: 8.8125rem;
}

.logo-footer__col .text__footer {
  text-align: center;
  margin-top: 0.75rem;
}

.logo-footer__col span {
  font-family: "Conthrax";
  font-size: 2rem;
}

.logo-footer__col p {
  font-family: "Conthrax";
  font-size: 0.875rem;
  -webkit-text-stroke: 0.0313rem #1B1B1B;
}

.col__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 1.8125rem;
}

.col__list .col__link {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 171%;
  margin-bottom: 1rem;
}

.col__list .col__link a {
  display: inline-block;
}

.col__list .col__link a::after {
  display: block;
  content: "";
  top: 60%;
  height: 0.0375rem;
  width: 0%;
  left: 0;
  background-color: #fcfcfc;
  transition: 0.2s ease all 0.1s;
}

.col__list .col__link a:hover::after {
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.125rem;
}
.copyright .subscriber_dep span {
  margin-left: 0.625rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 132%;
}
.copyright .support_dep {
  margin-left: 3.75rem;
}
.copyright .support_dep span {
  margin-left: 0.625rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 132%;
}

/*=========================================================================================*/
/*=========================================================================================*/
/*============================ Media queries ==============================================*/
/*=========================================================================================*/
/*=========================================================================================*/
@media screen and (max-width: 992.98px) {
  .header__desktop-menu .desktop-menu__list {
    margin-right: 0.625rem;
  }
  .header__language {
    margin-right: 1.25rem;
  }
}
@media screen and (max-width: 959.98px) {
  .header__desktop-menu {
    display: none;
  }
  .header__button-mobile {
    display: block;
    margin-top: 2.875rem;
  }
  .header__logo {
    width: 2.5rem;
  }
  /*-------- Mobile menu style ---------*/
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    right: 1.125rem;
    top: 2rem;
    border-radius: 0.375rem;
    background: #0062FF;
  }
  .menu__icon span {
    position: absolute;
    left: 0.25rem;
    top: 0.375rem;
    height: 0.0625rem;
    width: 1.5rem;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
    border-radius: 0.125rem;
  }
  .menu__icon::before, .menu__icon::after {
    position: absolute;
    left: 0;
    height: 0.0625rem;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
    border-radius: 0.125rem;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0.9375rem;
    left: 0.25rem;
    width: 1.5rem;
  }
  .menu__icon::after {
    bottom: 0.4375rem;
    left: 0.25rem;
    width: 1.5rem;
  }
  .menu__icon._active span {
    transform: scale(0) translate(0rem, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    left: 0.25rem;
    width: 1.5rem;
    transform: rotate(-45deg) translate(0rem, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    left: 0.1875rem;
    width: 1.5rem;
    transform: rotate(45deg) translate(0rem, -50%);
  }
  .header__mobile-menu {
    display: block;
    position: absolute;
    background: #031A40;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 6.25rem 1.5625rem 0;
    transform: translateX(100%);
    visibility: hidden;
    transition: all 0.3s ease 0s;
    overflow-y: auto;
  }
  .header__mobile-menu .logo__mobile {
    position: fixed;
    top: 2rem;
    left: 0.625rem;
    color: #000;
  }
  .header__mobile-menu .mobile-menu__list li a {
    color: #fff;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
  .header__mobile-menu .mobile-menu__list li:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
  ._active {
    visibility: visible;
    transform: translateX(0);
  }
  .header__button {
    display: none;
  }
  .header__language,
  .header__search {
    display: none;
  }
  .header__language-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__language-mobile .head_mob {
    width: 1.5rem;
  }
  .header__language-mobile .toggle_list-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
  }
  .header__language-mobile .toggle_list-mob li {
    width: 1.5rem;
    margin: 0.3125rem 0.9375rem;
  }
  .header__search-mobile {
    position: relative;
    margin: 3.25rem auto 1.25rem auto;
    height: 1.625rem;
    max-width: 18.75rem;
    min-width: 15rem;
    display: flex;
    justify-content: flex-end;
  }
  .header__search-mobile input {
    width: 100%;
    z-index: 2;
    border-bottom: 0.125rem solid #fff;
    padding: 0 2.625rem 0 0.9375rem;
    border: none;
    border-bottom: 0.125rem solid transparent;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .header__search-mobile input[type=search] {
    color: #fff;
    height: 2.5rem;
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0.4392156863);
  }
  .header__search-mobile button {
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    background: url(../img/svg/Search.svg) no-repeat center/cover;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
@media screen and (max-width: 859.98px) {
  .servise__cards {
    gap: 1rem;
  }
  .servise__cards .card__action {
    padding: 0 1rem 0 1rem;
    height: 4.875rem;
  }
  .servise__cards .card__action h3 {
    font-size: 1.2rem;
    max-width: 15.125rem;
  }
}
@media screen and (max-width: 767.98px) {
  .main__advantages,
  .status__block {
    display: none;
  }
  .main__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__btns {
    display: flex;
    justify-content: center;
    margin-top: 6.25rem;
  }
  /*------------------------------------------*/
  .footer__body {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 559.98px) {
  .servise__cards {
    grid-template-columns: 1fr;
  }
  .payment__form-wrap {
    background: #FFF !important;
    padding: 32px 15px;
  }
  .payment__form-wrap .payment__title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .payment__form-wrap .input__group input {
    height: 48px;
  }
  .payment__form-wrap .btn__group {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .payment__form-wrap .btn__group img {
    margin-top: 15px;
    margin-left: 0;
  }
  /*------------------------------------------*/
  .footer__body {
    grid-template-columns: repeat(3, 1fr);
  }
  .copyright {
    flex-direction: column;
  }
  .copyright .subscriber_dep {
    margin-bottom: 10px;
  }
  .copyright .support_dep {
    margin-left: 0;
  }
}
@media screen and (max-width: 414.98px) {
  .menu__icon {
    top: 1.625rem;
  }
  .main__content h1 {
    font-size: 2.375rem;
  }
  .main__content p {
    font-size: 0.75rem;
    max-width: 16.5rem;
  }
  .main__phones {
    font-size: 0.75rem;
  }
  .main__phones span a {
    font-size: 0.875rem;
  }
  .partners__logo {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  /*-----------------------------------*/
  .footer__body {
    display: flex;
    justify-content: flex-start;
  }
  .footer__col {
    margin: 1.9375rem;
  }
  .logo-footer__col {
    width: 100%;
  }
  .logo-footer__col a {
    width: 150px;
  }
  .copyright {
    margin: 1.9375rem;
  }
}
/*# sourceMappingURL=index.css.map */