@charset "UTF-8";
:root {
  --main_color: #0062FF;
  --blue_bg: #031A40;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul, ol {
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  background-color: #FEFEFF;
  line-height: 1.1;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  color: #000;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

/*----- для модалок ----*/
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*---------------------------*/
[class*=__container] {
  max-width: 108rem;
  margin: 0 auto;
  padding: 0 0.625rem;
}

@media screen and (max-width: 90rem) {
  [class*=__container] {
    max-width: 73.125rem;
    margin: 0 auto;
    padding: 0 0.625rem;
  }
}
/*---------------------------*/
.page {
  flex: 1 1 auto;
  position: relative;
}

/*--------------------------------------*/
.title__h2 {
  color: #000;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.75rem;
}

/*-------------- link active -----------------------*/
.menu__link-active {
  position: relative;
  font-weight: 800;
}
.menu__link-active::before {
  position: absolute;
  display: block;
  content: "";
  top: 100%;
  left: 0;
  height: 0.6px;
  width: 100%;
  background-color: #fcfcfc;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Buttons style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.main__button {
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 170%;
  padding: 0.75rem 3rem;
  border-radius: 1.875rem;
  background: var(--main_color);
}

.main__button:hover {
  background: #0055df;
}

.border__button {
  display: inline-block;
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.75rem 1.5rem;
  border: 0.125rem solid #ffffff;
  border-radius: 1.875rem;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

.border__button:hover {
  border: 0.125rem solid #0062FF;
  background: #0062FF;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Header style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.bg-head {
  background: var(--blue_bg);
  transition: all 0.3s ease 0s;
}

.mobile-menu {
  display: none;
}

.header {
  background: var(--blue_bg);
  z-index: 5;
  padding: 1.25rem 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 5rem;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__desktop-menu {
  display: flex;
  align-items: center;
}

.header__desktop-menu .desktop-menu__list {
  display: flex;
  margin-right: 2rem;
}

.header__desktop-menu .desktop-menu__list .desktop-menu__link {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0 1.5rem;
  line-height: 1.5;
}

.header__desktop-menu .desktop-menu__list .desktop-menu__link a::after {
  display: block;
  content: "";
  top: 60%;
  height: 0.0375rem;
  width: 0%;
  left: 0;
  background-color: #fcfcfc;
  transition: 0.3s ease all 0.1s;
}

.header__desktop-menu .desktop-menu__list .desktop-menu__link a:hover::after {
  width: 100%;
}

.header__language {
  position: relative;
  margin-right: 2.5rem;
  cursor: pointer;
}
.header__language .head img {
  width: 1.5rem;
}
.header__language .toggle_list {
  position: absolute;
  margin-top: 0.625rem;
  transform: translateY(1.25rem);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease 0s;
}
.header__language .toggle_list li {
  width: 1.5rem;
}

.toggle_list.lang_active {
  transform: translateY(0rem);
  opacity: 1;
  visibility: visible;
}

.header__search {
  position: relative;
  margin: 0 1.875rem;
  height: 1.625rem;
}
.header__search input {
  width: 0;
  padding: 0 2.625rem 0 0.9375rem;
  border: none;
  border-bottom: 0.125rem solid transparent;
  outline: none;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}
.header__search input[type=search] {
  color: #fff;
  height: 3.75rem;
}
.header__search input:focus {
  width: 18.75rem;
  z-index: 1;
  border-bottom: 0.125rem solid #fff;
  padding-top: 0.9375rem;
}
.header__search button {
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  background: url(../img/svg/Search.svg) no-repeat center/cover;
  top: 0;
  right: 0;
  cursor: pointer;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------ main__section style ------------*/
.main__section {
  position: relative;
  min-height: 502px;
  display: flex;
}

.main__container {
  position: relative;
  z-index: 2;
  min-height: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.main__body {
  width: 100%;
  position: relative;
}

.main__title {
  color: #FFF;
  font-family: "Conthrax";
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

/*------- style for background -----------*/
.main__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*------- section__chanels -----------*/
.section__chanels {
  margin-top: 100px;
  margin-bottom: 50px;
}

.chanels__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chanels__body .chanels__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}
.chanels__body .chanels__text {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  max-width: 800px;
}
.chanels__body .chanels__items-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px 35px;
}
.chanels__body .chanels__item .chanels__number {
  color: #0062FF;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 89.6px */
}
.chanels__body .chanels__item .chanels__descr {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  padding: 18px 14px;
  border-radius: 12px;
  border: 1px solid #0062FF;
  background: #FFF;
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px);
}
.chanels__body .chanels__item:hover .chanels__number {
  color: #000;
}
.chanels__body .chanels__item:hover .chanels__descr {
  color: #ffffff;
  background: #0062FF;
}

/*------- section__callUs -----------*/
.section__callUs {
  padding-bottom: 100px;
  padding-top: 50px;
}

.callUs__body {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.form__callUs h4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}
.form__callUs span {
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}

.input__group {
  display: flex;
  flex-direction: column;
  max-width: 418px;
  margin-bottom: 29px;
}
.input__group label {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}
.input__group input {
  border-radius: 24px;
  background: #F2F2F2;
  height: 58px;
  border: none;
  padding: 15px;
}

.call__button {
  border: none;
  border-radius: 32px;
  background: #0062FF;
  padding: 14px 64px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
}
.call__button:hover {
  background: #0057e4;
}

.callUs__phones .phones__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.callUs__phones .phones__list {
  margin-top: 64px;
}
.callUs__phones .phones__list .phones_link a {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.callUs__phones .phones__list .phones_link:nth-child(2n) {
  margin-bottom: 48px;
}
.callUs__phones .phones__list .link__mini {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

/*----------------------------------------------------------------------------------------*/
/*------------ Footer style --------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.footer {
  background: var(--blue_bg);
  width: 100%;
  padding: 4.0625rem 0 1.1875rem;
  color: #FFF;
}

.footer__body {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
}

.footer__col {
  margin: 0.9375rem;
}

.logo-footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer__col img {
  max-width: 8.8125rem;
}

.logo-footer__col .text__footer {
  text-align: center;
  margin-top: 0.75rem;
}

.logo-footer__col span {
  font-family: "Conthrax";
  font-size: 2rem;
}

.logo-footer__col p {
  font-family: "Conthrax";
  font-size: 0.875rem;
  -webkit-text-stroke: 0.0313rem #1B1B1B;
}

.col__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 1.8125rem;
}

.col__list .col__link {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 171%;
  margin-bottom: 1rem;
}

.col__list .col__link a {
  display: inline-block;
}

.col__list .col__link a::after {
  display: block;
  content: "";
  top: 60%;
  height: 0.0375rem;
  width: 0%;
  left: 0;
  background-color: #fcfcfc;
  transition: 0.2s ease all 0.1s;
}

.col__list .col__link a:hover::after {
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.125rem;
}
.copyright .subscriber_dep span {
  margin-left: 0.625rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 132%;
}
.copyright .support_dep {
  margin-left: 3.75rem;
}
.copyright .support_dep span {
  margin-left: 0.625rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 132%;
}

/*=========================================================================================*/
/*=========================================================================================*/
/*============================ Media queries ==============================================*/
/*=========================================================================================*/
/*=========================================================================================*/
@media screen and (max-width: 992.98px) {
  .header__desktop-menu .desktop-menu__list {
    margin-right: 0.625rem;
  }
  .header__language {
    margin-right: 1.25rem;
  }
}
@media screen and (max-width: 959.98px) {
  .header__desktop-menu {
    display: none;
  }
  .header__button-mobile {
    display: block;
    margin-top: 2.875rem;
  }
  .header__logo {
    width: 2.5rem;
  }
  /*-------- Mobile menu style ---------*/
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    right: 1.125rem;
    top: 2rem;
    border-radius: 0.375rem;
    background: #0062FF;
  }
  .menu__icon span {
    position: absolute;
    left: 0.25rem;
    top: 0.375rem;
    height: 0.0625rem;
    width: 1.5rem;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
    border-radius: 0.125rem;
  }
  .menu__icon::before, .menu__icon::after {
    position: absolute;
    left: 0;
    height: 0.0625rem;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
    border-radius: 0.125rem;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0.9375rem;
    left: 0.25rem;
    width: 1.5rem;
  }
  .menu__icon::after {
    bottom: 0.4375rem;
    left: 0.25rem;
    width: 1.5rem;
  }
  .menu__icon._active span {
    transform: scale(0) translate(0rem, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    left: 0.25rem;
    width: 1.5rem;
    transform: rotate(-45deg) translate(0rem, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    left: 0.1875rem;
    width: 1.5rem;
    transform: rotate(45deg) translate(0rem, -50%);
  }
  .header__mobile-menu {
    display: block;
    position: absolute;
    background: #031A40;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 6.25rem 1.5625rem 0;
    transform: translateX(100%);
    visibility: hidden;
    transition: all 0.3s ease 0s;
    overflow-y: auto;
  }
  .header__mobile-menu .logo__mobile {
    position: fixed;
    top: 2rem;
    left: 0.625rem;
    color: #000;
  }
  .header__mobile-menu .mobile-menu__list li a {
    color: #fff;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
  .header__mobile-menu .mobile-menu__list li:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
  ._active {
    visibility: visible;
    transform: translateX(0);
  }
  .header__button {
    display: none;
  }
  .header__language,
  .header__search {
    display: none;
  }
  .header__language-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__language-mobile .head_mob {
    width: 1.5rem;
  }
  .header__language-mobile .toggle_list-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
  }
  .header__language-mobile .toggle_list-mob li {
    width: 1.5rem;
    margin: 0.3125rem 0.9375rem;
  }
  .header__search-mobile {
    position: relative;
    margin: 3.25rem auto 1.25rem auto;
    height: 1.625rem;
    max-width: 18.75rem;
    min-width: 15rem;
  }
  .header__search-mobile input {
    width: 100%;
    z-index: 2;
    border-bottom: 0.125rem solid #fff;
    padding: 0 2.625rem 0 0.9375rem;
    border: none;
    border-bottom: 0.125rem solid transparent;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .header__search-mobile input[type=search] {
    color: #fff;
    height: 2.5rem;
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0.4392156863);
  }
  .header__search-mobile button {
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    background: url(../img/svg/Search.svg) no-repeat center/cover;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
@media screen and (max-width: 767.98px) {
  .chanels__body .chanels__items-wrap {
    grid-template-columns: 1fr 1fr;
  }
  .form__callUs h4 {
    font-size: 24px;
  }
  .callUs__phones .phones__title {
    font-size: 24px;
  }
  .callUs__phones .phones__list {
    margin-top: 30px;
  }
  .callUs__phones .phones__list .phones_link:nth-child(2n) {
    margin-bottom: 20px;
  }
  /*------------------------------------------*/
  .footer__body {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 679.98px) {
  .callUs__body {
    flex-wrap: wrap;
  }
  .callUs__phones {
    margin-top: 30px;
  }
}
@media screen and (max-width: 559.98px) {
  /*------------------------------------------*/
  .footer__body {
    grid-template-columns: repeat(3, 1fr);
  }
  .copyright {
    flex-direction: column;
  }
  .copyright .subscriber_dep {
    margin-bottom: 10px;
  }
  .copyright .support_dep {
    margin-left: 0;
  }
}
@media screen and (max-width: 479.98px) {
  .main__title {
    font-size: 30px;
  }
  .section__chanels {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .chanels__body .chanels__items-wrap {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .chanels__body .chanels__title {
    font-size: 32px;
  }
  .chanels__body .chanels__text {
    font-size: 15px;
  }
}
@media screen and (max-width: 414.98px) {
  .menu__icon {
    top: 1.625rem;
  }
  /*-----------------------------------*/
  .footer__body {
    display: flex;
    justify-content: flex-start;
  }
  .footer__col {
    margin: 1.9375rem;
  }
  .logo-footer__col {
    width: 100%;
  }
  .logo-footer__col a {
    width: 150px;
  }
  .copyright {
    margin: 1.9375rem;
  }
}
/*# sourceMappingURL=service_data.css.map */